{% extends "layouts/app.html" %}

{% block content %}

<section class="seccion_perfil">

    <div class="contenedor perfil">
        <figure class="imagen_perfil">
            {% load static %}
            <img class="foto_perfil " src={% static 'nutriologo.jpeg' %} alt="Foto de perfil">
        </figure>

        <div class="datos">

            <div>
                <h2>Datos personales</h2>
                <ul>
                    <p>Nombre: Valentina Duque</p>
                    <p>Edad: 20 años</p>
                    <p>Estudios: Tecnico en Desarrollo de software</p>
                    <p>Genero: Femenino</p>
                </ul>

                <h2>Datos de contacto</h2>
                <ul>
                    <p>Telefono: 3123333917</p>
                    <p>Correo: duquesakura@gmail.com</p>
                </ul>
            </div>

        </div>

    </div>
</section>


{% endblock %}